{% extends 'base.html' %}

{% block title %}
Добавление записи
{% endblock %}

{% block body %}
<h1>Добавление записи </h1>

<form method="post" class="form-control" >
    <input type="text" name = "category" placeholder="Введите категорию задачи" class="form-control" >
    <input type="text" name = "title" placeholder="Введите заголовок задачи" class="form-control">
    <input type="text" name = "text" placeholder="Введите описание задачи" class="form-control">
    <button class="btn btn-success" type="submit">Добавить</button>
</form>

{% endblock %}

