{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1> Главная страница </h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Deserunt dicta maiores nulla possimus!</li>
<li>Accusamus nesciunt, similique? Eligendi, nesciunt.</li>
<li>Consequuntur deserunt fugiat quam voluptatibus.</li>
<li>Adipisci aspernatur repellat sunt voluptatibus!</li>
<li>Explicabo incidunt quasi reprehenderit saepe.</li>
<li>Et eveniet in sint soluta.</li>
<li>Culpa deleniti dolore qui sint.</li>
<li>Asperiores blanditiis commodi eius minima.</li>
<li>Beatae dolor laborum quia rem?</li>
<li>Ab aperiam assumenda deserunt necessitatibus.</li>
<li>Ab aspernatur cum eius repudiandae?</li>
<li>Aut cum dolore tempora vitae.</li>
<li>Autem debitis enim quo sint.</li>
<li>Dicta est illum itaque sapiente.</li>
<li>Assumenda at deserunt eius itaque?</li>
<li>Dolores neque quia voluptates. Enim?</li>
<li>Dolores eos fuga laboriosam mollitia?</li>
<li>Error ipsum non sit veritatis?</li>
<li>Dolores excepturi labore natus quod.</li>
<li>Aperiam autem laudantium similique sint.</li>
<li>Culpa eligendi illum quidem temporibus?</li>
<li>Doloribus eius facere ipsam non.</li>
<li>Eius explicabo mollitia nemo quasi!</li>
<li>Alias cumque doloribus esse recusandae!</li>
<li>Deleniti eaque nisi quae quisquam!</li>
<li>Enim odio rerum unde voluptatum?</li>
<li>Ab exercitationem quam veritatis vero.</li>
<li>Culpa debitis harum qui voluptatem!</li>
<li>Laudantium libero natus necessitatibus vero!</li>
<li>Amet ducimus expedita officiis vero!</li>
<li>Deleniti ipsum, sit! Aperiam, repellat?</li>
<li>Laborum nemo praesentium quasi qui?</li>
<li>Dolorum eius ipsum laudantium sequi.</li>
<li>Amet iste nesciunt perferendis sapiente?</li>
<li>At doloribus impedit nesciunt ut!</li>
<li>Animi iure modi mollitia quisquam!</li>
<li>Cupiditate dolorem doloribus dolorum similique!</li>
<li>Consectetur corporis delectus distinctio vitae.</li>
<li>Nulla reiciendis, soluta? Neque, quod!</li>
<li>Aspernatur deserunt dolorum quibusdam ut.</li>
<li>Commodi maiores minus obcaecati quis!</li>
<li>Dolorem enim facere itaque numquam!</li>
<li>Aliquam excepturi magni unde vel.</li>
<li>Accusamus aut commodi in similique!</li>
<li>Accusantium exercitationem laudantium quod voluptatem?</li>
<li>Accusamus aliquid assumenda dicta odit?</li>
<li>Ducimus inventore quas rerum voluptates.</li>
<li>Consequuntur esse et nulla odio.</li>
<li>Hic itaque laboriosam libero rem?</li>
<li>Accusantium doloremque harum labore nostrum!</li>
<li>Eligendi eum minima temporibus voluptatem.</li>
<li>Dolorum illum libero minima optio.</li>
<li>Eaque facere praesentium tenetur velit.</li>
<li>Adipisci delectus dolorem et odio.</li>
<li>Dignissimos excepturi laboriosam minima praesentium?</li>
<li>Eius excepturi ipsum optio quo.</li>
<li>Blanditiis dignissimos praesentium qui quia?</li>
<li>Ab autem doloribus enim error!</li>
<li>Error explicabo facere id illum.</li>
<li>Labore nulla perspiciatis possimus quia!</li>
<li>Aspernatur ipsa porro provident voluptas.</li>
<li>Atque nihil quis repellendus ullam?</li>
<li>Dolores doloribus fuga modi. Nulla?</li>
<li>Corporis cupiditate magni veniam vero?</li>
<li>Doloribus fuga in molestiae voluptate!</li>
<li>Minima odio quae quidem voluptas?</li>
<li>Dignissimos esse molestias quasi voluptates.</li>
<li>Ad ex itaque nobis totam.</li>
<li>Adipisci eum inventore sint tenetur.</li>
{% endblock %}

